.sobrenos {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}
.sobrenos__apresentacao {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 .5em;
}

.sobrenos__headline {
    font-weight: 600;
    font-size: 1em;
    color: var(--color-primary);
    margin-bottom: .8em;
}

.sobrenos__titulo {
    color: var(--color-tertiary);
    font-weight: 600;
    font-size: 1.3em;
    letter-spacing: -2%;
    margin-bottom: 1em;
}

.sobrenos__texto {
    color: var(--color-secundary);
    font-size: .8em;
    font-weight: 400;
}

.sobrenos__numeros {
    margin-top: 1em;
    padding: 1em 0;
    text-align: center;
}

.numeros__container {
    display: flex;
    flex-direction: column;
    gap: .75em;
    padding: 1.7em;
}

.numeros__headline {
    color: var(--color-primary);
    font-weight: 600;
    font-size: 1.5em;
}

.numeros__titulo {
    color: var(--color-tertiary);
    font-weight: 500;
    font-size: 1.3em;
}

.numeros__texto {
    color: var(--color-secundary);
    font-weight: 400;
    font-size: .8em;
}

@media screen and (min-width: 768px) {
    .sobrenos__headline {
        font-size: 1.3em;
    }

    .sobrenos__titulo {
        font-size: 1.5em;
    }

    .sobrenos__texto {
        width: 50%;
        font-size: 1em;
    }

    .sobrenos__apresentacao {
       align-items: center;
    }

    .numeros__container {
        align-items: center;
    }

    .numeros__headline {
        font-size: 1.8em;
    }
    
    .numeros__titulo {
        font-size: 1.6em;
    }
    
    .numeros__texto {
        width: 60%;
        font-size: 1.1em;
    }

}

@media screen and (min-width: 1024px) {
    
    .sobrenos__headline {
        font-size: 1.5em;
    }

    .sobrenos__titulo {
        font-size: 1.8em;
    }

    .sobrenos__texto {
        width: 50%;
        font-size: 1.3em;
    }

    .sobrenos__apresentacao {
        border-top: 0.06em solid var(--color-secundary);
        border-bottom: 0.06em solid var(--color-secundary);
        padding: 3em 0;
        margin: 0;
        align-items: center;
    }
    .sobrenos__numeros {
        display: flex;
        border-bottom: 0.06em solid var(--color-secundary);
        padding: 4em 0;
        justify-content: space-between;
    }

    .sobrenos__numeros hr{
        display: none;
    }

    .numeros__container {
        padding: .3em;
    }
    
    .numeros__titulo {
        font-size: 1em;
    }
    
    .numeros__texto {
        width: 80%;
    }

}